.icon-text-fab {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7%;
  cursor: pointer;
  width: 10%;
  min-width: 100px;
  padding: 10px;
  border-radius: 20px;
}

.icon-fab {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
