$color-primary: #3b71ca;
$color-secondary: #898888;
$color-success: #1fae51;
$color-info: #09aeae;
$color-warning: #e6bc15;
$color-danger: #d72503;
$color-dark: #23232b;

$text-color-light: #e5e5e5;
$text-color-dark: #2d2a2a;

$background-color-primary: #1f1f1f;
$backgorund-color-secondary: #f0f0f0;

$btn-color-primary: $color-primary;
$btn-color-secondary: $color-secondary;


