@import "../styles/main.scss";

.button-outline {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  border: 2px solid #2cd9ff;
  border-radius: 0.8rem;
  cursor: pointer;
  @include font-medium-light;

  &:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(249, 246, 246, 0.3)
  }
}


