.simple-card-container {
  width: 25%;
  min-width: 25vw;
  border-radius: 10px;
  box-shadow: 1px 5px 5px 5px #e0e9e40a;
  margin:10px
}

.img-container {
    height: 200px;
}

.simple-card-img-style {
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: auto;
}

.overlay-text {
  transform: translateY(-57px);
  border-bottom: 1px solid gray;
  padding-left: 16px;
}

.overlay-text p {
  font-size: 16px;
  font-weight: 500;
}

.header-container {
  border-bottom: 1px solid gray;
  padding-left: 16px;
  padding-top: 10px;
}

.header-container p {
  font-size: 18px;
  font-weight: 600;
}

.details-container {
  padding: 16px;
  padding-top: 5px;
}

.title-container {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.description-container {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 5px;
}

.button-container {
  padding: 10px 2px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  width: 10vw;
}

.list-container {
  border-top: 1px solid #7a7f76;
  padding: 0px 16px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
}

.links-container {
  border-top: 1px solid gray;
  padding: 16px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
}

.links {
  margin-right: 30px;
}

.footer-container {
  border-top: 1px solid gray;
  padding: 8px;
  text-align: center;
}

.footer-container p {
  font-size: 11px;
  font-weight: 600;
}
